body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
}
h1{
    font-size: 48px;
    margin-top: 32px;

}
.dice{
    font-size: 7rem;
    margin:5px;
}
.roll-animation{
    animation-name: roll;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes roll {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateX(720deg) rotateX(720deg);
    }
    
}
button{
    background-color: #47a5c4;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: #2e8baf;

}
ul{
    list-style: none;
    padding: 0;
    margin: 2rem;
    max-width: 37.5rem;
    margin: 0 auto;
    li{
        font-size: 1.5rem;
        padding: .5rem;
        margin: .5rem;
        border-radius: .5rem;
        box-shadow: 0 2px 2px rgba($color: #000000, $alpha: .3);
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 3rem;
            margin-right: 1rem;
        }

    }
}